.container {
  background-color: rgb(42, 53, 110);
  height: 50px;
  display: flex;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  color: white;
}

.home-button {
  margin-left: auto;
  text-decoration: none;
}

.header {
  margin: 0;
  font-size: 1.7rem;
}
