.highlight {
  background-color: rgb(236, 234, 234);
}
.card-panel {
  border-radius: 3px;
  margin: 0 24px;
  color: black;
}
.current-price {
  font-weight: 600;
}
.old-price {
  font-weight: 600;
}
.current-date {
  font-size: 10px;
}
.companyName {
  font-weight: 700;
}
